* {
    margin: 0px;
}
.box1 {
    width: 100%;
    height: 200px;
    background-color: gray;
}
.box2 {
    width: 100%;
    height: 500px;
    background-color: #fff;
    background-image: url('../img/car.jpg');
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    overflow: hidden;
}
.box2 h1{
    color: yellow;
    font-size: 50px;
    font-family: forte;
    font-weight: normal;
    font-style: italic;
    margin-top: 150px;
}
.box2 p {
    color: aqua;
    font-size: 30px;
    font-family: Edwardian Script ITC;
    margin-top: 20px;
}
.box3 {
    width: 100%;
    height: 300px;
    background-color: rgb(46, 44, 44);
}
