* {
    margin: 0px;
}
.page {
    background-color: rgb(190, 190, 190);
    overflow: hidden;
}
.box {
    width: 700px;
    height: 450px;
    background-color: rgb(20, 20, 20);
    margin: 50px auto 10px;
    overflow: hidden;
}
h2 {
    text-align: left;
    font-family: lato;
    color: red;
    font-weight: normal;
    margin-top: 20px;
    margin-left: 10px;
}
p {
    text-align: justify;
    color: yellow;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
img {
    width: 300px;
    margin-top: 20px;
    margin-left: 10px;
}
