* {
    margin: 0px;
}
.team {
    width: 33.33%;
    background-color: black;
    text-align: center;
    padding: 40px 0px;
    float: left;
}
.team img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.team h2 {
    font-family: forte;
    font-weight: normal;
    color: #FFF;
    font-size: 30px;
}
.team p {
    font-family: Edwardian Script ITC;
    color: yellow;
    width: 70%;
    margin: 5px auto;
    font-size: 20px;
}